<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.getName()}">Task</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styleHome.css" th:href="@{/css/styleCoursePage.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/LC.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/styleHome.css" th:href="@{/css/styleHome.css}">
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
<header>
    <a href="/" th:href = "@{/home}"><img src="/img/lclogogo.png" class="logo" alt="logo"></a>
    <ul>
        <li><a href="/" th:href = "@{/home}">Главная</a></li>
        <li><a href="/" th:href = "@{/courses}">Курсы</a></li>
        <li><a href="/" th:href = "@{/shop}">Магазин</a></li>
        <li><a href="/" th:href = "@{/faq}">FAQ</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</header>


<body>
<div class="row">
    <div th:each="elem : ${tasks}" id="task">
        <a th:href="@{/courses/{course_id}/{task_id} (course_id = ${course.getId()}, task_id = ${elem.getId()}) }">Перейти к решению</a>
<!--        <p th:text="${elem.getId()}">VALUE</p>-->
        <p th:text="${elem.getTask()}">VALUE</p>
        <p th:text="${elem.getCondition()}">VALUE</p>
        <br/>
    </div>
</div>
</body>
</html>